.sections {
  margin: 50vh 10vw;
}

.titletext {
  font-size: 45px;
  font-weight: 900;
  color: white;
  margin: 0;
}

.bold {
  font-weight: 900;
}

.not-found-text {
  padding: 50vh 30vw;
  text-align: center;
}

.infotext {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

.reversed-text {
  flex-direction: row-reverse;
}

.small-info {
  font-size: 15px;
}

.pastel-yellow {
  background-color: #829c2f;
}

.pastel-blue {
  background-color: #3275a8;
}

.dark-discord {
  background-color: #151716;
}

.spacebetween {
  display: flex;
  justify-content:space-around;
  margin: 0 0;
  padding: 50vh 0;
}

.smalltext {
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin: 20px 0 30px 0;
}

.title-button {
  flex: 0 1 auto;
  margin: 0 10px 0 0;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 8px 8px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  text-decoration: none;
  color: #000;
}

.codo-color {
  background-color: #61903B;
}

.title-button:hover, .text-link:hover {
  filter: brightness(70%);
}

.button-container {
  display: flex;
}

html, body {
  overflow-x: hidden;
}

body {
  background-color: #1F2124;
}

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
* {
  font-family: 'NanumSquare';
  font-weight: 700;
  user-select: none;
  margin: 0;
  padding: 0;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.main-icon {
  align-items: center;
  user-select: none;
  float: left;
}

.main-img {
  padding: 10px 20px;
  height: 40px;
  border-radius: 50%;
}

.round-img {
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.footer-flex-wrapper {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 20px;
}

.footer-title {
  vertical-align: baseline;
}

.footer-grid-wrapper {
  display: grid;
  grid-template-columns: 16vh 16vw;
  grid-template-rows: 40px 30px;
}

.footer-link {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .spacebetween {
    display: block;
  }

  .nav .text-link:not(.active) {
    display: none;
  }
  .nav .icon {
    float: right;
    display: block;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .active {
    background-color: #2f3136;
    display: block;
    float: none;
    width: 100vw;
    padding: 0 0 20px 0;
    transition: all 0.1s ease-out;
  }

  .active:not(:first-child) {
    position: relative;
    padding: 20px;
  }
  
  .sections {
    text-align: center;
  }

  .button-container {
    justify-content: center;
  }

}

@media screen and (max-width: 600px) {
  .round-img {
    width: 70%;
  }

  .footer-flex-wrapper {
    display: block;
  }

  .footer-title {
    margin-bottom: 20px;
  }
}


.nav {
  background-color: #2f3136;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;

  justify-content: space-between;

  width: 100%;
  height: 65px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.warning-bar {
  width: 100%;
  height: 50px;
  background-color: #fdfd96;
  margin-top: 80px;
  display: flex;
  border-radius: 5px;
}

.warning-text {

  color: #856404;
  margin: 10px;
}

.icon {
  display: none;
  color: #fff;
}

.text-link {
  color: #fff;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  user-select: none;
  transition: all 0.2s;
}

.footer {
  text-align: center;
  font-size: 10px;
  color: #fff;
}
